body {
  width: 16em;
  /* margin-bottom: 1em; */
}

#header {
  margin-top: 0.5em;
  display: inline-block;
  color: rgb(49, 49, 49);
}

#id-input {
  margin-bottom: 1em;
}

#add,
#remove,
#clear {
  margin-bottom: 0.5em;
}

#color {
  padding: 0;
  box-sizing: border-box;

  margin-bottom: 1em;
  border: 3px solid;
}

#info {
  margin-bottom: 0.5em;
}

#colorpicker {
  display: none;
}
